body {
    background-color: rgb(44, 44, 44);
    font-family: sans-serif;
    padding: 32px 10%;
}

p {
    color: #fff;
}

h1 {
    color: #fff;
    text-align: center;
}

h2 {
    color: #fff;
    text-align: center;
}

img.full-width {
    width: 100%;
    height: auto;
}

.top-div {
    justify-content: center;
    display: flex;
    gap: 10%;
}

.top-links {
    color: #fff;
    text-decoration: underline;
}

.top-links:hover {
    font-weight: bold;
}